[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Leptonica is an open source library containing software that is broadly useful for image processing and image analysis applications. The official github repository for Leptonica is: danbloomberg/leptonica.  See leptonica.org for more documentation and recent releases.
[access "refs/*"]
	owner = group user/Ellery Wang (ellery92)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ellery Wang (ellery92)
	label-Verified = -1..+1 group user/Ellery Wang (ellery92)
	push = group user/Ellery Wang (ellery92)
	read = group user/Ellery Wang (ellery92)
	rebase = group user/Ellery Wang (ellery92)
	removeReviewer = group user/Ellery Wang (ellery92)
	submit = group user/Ellery Wang (ellery92)
[access "refs/heads/*"]
	create = group user/Ellery Wang (ellery92)
	push = +force group user/Ellery Wang (ellery92)
	pushMerge = group user/Ellery Wang (ellery92)
	read = group user/Ellery Wang (ellery92)
[access "refs/tags/*"]
	push = group user/Ellery Wang (ellery92)
	push = +force group user/Ellery Wang (ellery92)
